a.button {
   display: -moz-inline-stack;
   display: inline-block;
   width: 1010px;
   height: 42px;
   background: url("http://dabuttonfactory.com/b?t=&f=Calibri-Bold&ts=24&tc=f6f5f500&it=jpeg&c=15&bgt=gradient&bgc=f6f5f5&ebgc=cccccc&hp=505&vp=21") no-repeat;
   line-height: 42px;
   vertical-align: text-middle;
   text-align: center;
   color: #f6f5f5;
   font-family: Calibri;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   text-shadow: none;
}
a.button > span {
   display: -moz-inline-block;
}
input:focus {
      background-color: orange;
      border: 1px solid black;
    }
	/*
td{ 
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;

   }
  .form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
} 
*/

.jqquiz-table-head{
	background-color: #333333;
	line-height:20px;
	font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
	color:#ffffff;
	
}

#jqquiz-form div.form-item{
	list-style-type:none;
	
}
table .colshead{
	margin:0 2px 0 2px;
	border: 0px solid black;
	line-height:20px;
	font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
	
}
table tr.odd{
	margin:0 2px 0 2px;
	background-color: #ffffff;
	line-height:20px;
	font-family: Calibri;
    font-size: 12px;
    font-weight: normal;
	
}
table tr.odd:hover{
	margin:0 2px 0 2px;
	background-color: #ebebeb;
	line-height:20px;
	font-family: Calibri;
    font-size: 12px;
    font-weight: normal;
	
}

table tr.even{
	margin:0 2px 0 2px;
	background-color: #f6e6c8;
	line-height:20px;
	font-family: Calibri;
    font-size: 12px;
    font-weight: normal;
	
}

table tr.even:hover{
	margin:0 2px 0 2px;
	background-color: #ebebeb;
	line-height:20px;
	font-family: Calibri;
    font-size: 12px;
    font-weight: normal;
	
}





#jqquiz-body {
  margin: 0px;
  padding: 0px;
}

#jqquiz-add-form {
  margin: 0;
}

.jqquiz-add-form .form-item {
  margin: 0;
  display: inline;
}

.jqquiz-view-form .form-submit {
  visibility: hidden;
  display:none;
}

#jqquiz-error {
  display: none;
  cursor: pointer;
  width: 99%;
  margin-bottom: 5px;
}

div#jqquiz-posts {
  text-align: left;
}

div.jqquiz-msg {
  padding: 4px;
}

span.jqquiz-user-name, span.jqquiz-user-name a, span.jqquiz-user-name a:visited {
	font-weight: bold;
	color: #27609B;
}

span.jqquiz-current-user-name, span.jqquiz-current-user-name a, span.jqquiz-current-user-name a:visited {
	color: darkRed;
}

span.jqquiz-anonymous-user {
	color: #C0C000;
}

div.jqquiz-msg p {
	display: inline;
	margin: 0;
}

div.jqquiz-archive a, div.jqquiz-archive a:visited {
  text-align: center;
  color: #fff;
  background-color: #999;
  display: block;
}

div.jqquiz-archive a:hover {
  color: #fff;
  background-color: #aaa;
  text-decoration: none;
}

span.jqquiz-msg-time {
	color: #999;
	font-style: italic;
	font-size: 80%;
	padding-left: 7px;
}

.jqquiz-addinput {
  width: 100%;
}

.jqquiz-imglink {
  padding: 0px 2px 0px 2px;
  float: right;
}

.jqquiz-queue-title {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #999;
  text-align: center;
}

.jqquiz-add-form input#edit-message {
  width: 99%;
  height: 22px;
}

.jqquiz-unpublished {
  background-color: #f00;
}

.jqquiz-interval-msg { 
	float:left; 
	font-size: 85%; 
	color: #555; 
}

#jqquiz-throbber {
  width: 16px;
  height: 16px;
  margin: 7px 12px 0 0;
  background: transparent url(images/throbber.gif) no-repeat;
  float: right;
  display: none;
}

.jqquiz-admin-links {
  display: none;
}

#jqquiz-add-form .form-submit { 
  font-size: 120%; 
  float: right;
  margin: 2px 2px 0 0;
}



/*

#upload{
	margin:30px 200px; padding:15px;
	font-weight:bold; font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background:#f2f2f2;
	color:#3366cc;
	border:1px solid #ccc;
	width:150px;
	cursor:pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
}

*/
.darkbg{
	background:#ddd !important;
}
#status{
	font-family:Arial; padding:5px;
}
ul#files{ list-style:none; padding:0; margin:0; }
ul#files li{ padding:10px; margin-bottom:2px; width:200px; float:left; margin-right:10px;}
ul#files li img{ max-width:180px; max-height:150px; }
.success{ background:#99f099; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; }

.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		.white_content {
			display: none;
			position: absolute;
			top: 25%;
			left: 25%;
			width: 500px;
			height: 200px;
			padding: 16px;
			border: 10px solid orange;
			background-color: white;
			z-index:1002;
			overflow: auto;
		}

#loader {
left: 40%;
top:50%;
position: absolute;
opacity: .8;
background: white;
padding: 25px 35px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}